<?xml version="1.0" encoding="utf-8"?>
<launch>

    <node name="rviz" pkg="rviz" type="rviz" output="screen"
      args="-d $(find classicalplanning)/config/UAV_model.rviz"> 
    </node>

    <node  name="mockamap_node" pkg="mockamap" type="mockamap_node" output="screen">
    <!-- <rosparam file="$(find classicalplanning)/config/mockamap.yaml"/>
    <remap from="/mock_map" to="/planning_map"/> -->
    <param name="seed" type="int" value="1024"/>
    <param name="update_freq" type="double" value="1.0"/>
    <param name="resolution" type="double" value="0.25"/>
    <param name="x_length" type="int" value="50"/>
    <param name="y_length" type="int" value="50"/>
    <param name="z_length" type="int" value="5"/>
    <param name="type" type="int" value="1"/>
    <param name="complexity"    type="double" value="0.025"/>
    <param name="fill"          type="double" value="0.3"/>
    <param name="fractal"       type="int"    value="1"/>
    <param name="attenuation"   type="double" value="0.1"/>
    <remap from="/mock_map" to="/voxel_map"/>    
    </node>

    <!-- 这里执行的就是classicalplanning包中名为classical_planning的可执行文件 -->
    <node name="cpstart_node"  pkg="classicalplanning" type="classical_planning"  output="screen">
    <rosparam file="$(find classicalplanning)/config/UAV_model.yaml"/>
    </node>



</launch>